---
interface Props {
  title: string;
  dividerClass?: string;
  titleClass?: string;
  titleAnim?: string;
  body?: string;
  bodyClass?: string;
  class?: string;
}

const {
  title,
  dividerClass = 'mt-4 h-px w-full bg-current/20',
  titleClass = 'font-heading text-heading-lg font-semibold',
  titleAnim,
  body,
  bodyClass = 'mt-6 font-heading text-heading-lg leading-[1.46]',
  class: className = '',
} = Astro.props as Props;
---

<div class={className}>
  <h2 data-anim={titleAnim} class={titleClass}>{title}</h2>
  <div class={dividerClass}></div>
  {body && <p class={bodyClass}>{body}</p>}
</div>
